@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

:root{
    --red-500: hsl(10, 79%, 65%);
    --blue-300: hsl(186, 34%, 65%);
    --brown-950: hsl(25, 47%, 15%);
    --brown-400: hsl(28, 10%, 53%);
    --red-100: hsl(26, 66%, 93%);
}

.container{
    background-color: var(--red-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 100px;
    width: 500px;
    background-color: var(--red-500);
    color: var(--red-100);
    padding: 20px;
}

.balance{
    font-size: 12px;
    margin-top: 5px;
}

.value{
    font-size: 28px;
    margin-top: 5px;
}

.spending{
    background-color: white;
    height: 420px;
    width: 500px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 30px;
}

.title{
    font-size: 25px;
}

.all-days{
    display: flex;
    width: 430px;
    justify-content: space-between;
    align-items: end;
    height: 240px;
    color: var(--brown-400);
    padding-bottom: 20px;
    border-bottom: 2px solid var(--red-100);
}

.mon{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-mon{
    border-radius: 5px;
    height: 45px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.hover-mon{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-mon:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}

.tue{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-tue{
    border-radius: 5px;
    height: 85px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.color-tue:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}

.hover-tue{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.wed{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-wed{
    border-radius: 5px;
    height: 120px;
    width: 40px;
    background-color: var(--blue-300);
    margin-bottom: 10px;
}

.hover-wed{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-wed:hover{
    cursor: pointer;
    background-color: hsl(186, 44%, 76%);
}

.thu{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-thu{
    border-radius: 5px;
    height: 75px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.hover-thu{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-thu:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}

.fri{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-fri{
    border-radius: 5px;
    height: 55px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.hover-fri{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-fri:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}

.sat{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-sat{
    border-radius: 5px;
    height: 95px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.hover-sat{
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-sat:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}

.sun{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-sun{
    border-radius: 5px;
    height: 60px;
    width: 40px;
    background-color: var(--red-500);
    margin-bottom: 10px;
}

.hover-sun{ 
    background-color: black;
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--red-100);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: none;
}

.color-sun:hover{
    cursor: pointer;
    background-color: hsl(10, 63%, 71%);
}
